body {
  background-color:rgb(153,116,116);
  color:rgb(0,2,4);
  background-image:url("../../assets/img/3840x2156-3067860-business_desk_keyboard_smartphone_workplace.jpg");
  background-position:100%;
  background-size:cover;
  background-repeat:no-repeat;
}

#container {
  width:100%;
  height:108vh;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

img {
  width:50%;
  height:70px;
  background-image:url("../../assets/img/coloured-accounting-background-design_1151-88.jpg");
  background-size:cover;
  background-position:left;
  background-color:#f8f8f8;
}

.fimage {
  width:37%;
  height:100vh;
  background-image:url("../../assets/img/coloured-accounting-background-design_1151-88.jpg");
  background-repeat:no-repeat;
  background-position:left;
}
.col p,
.footer-clean button,
.footer-clean .item,
div.row.services { color:#fff;  }

.footer-clean .policy button
{ 
  text-align:left;
  height:60px;
  font-size:26px;
  margin-left:20%;
}
.footer-clean .item.contact
{
  text-align:right;
}

.footer-clean .item.contact a
{
  color:#fff !important;
  font-size:26px !important;
  height:60px;
  line-height:60px;
  margin-right:20%;
}
